.container {
    margin: 55px 100px 50px 100px;
    padding: 0px;
    text-align: center;
  }
  
div.gallery {
    margin: 10px;
    padding: 5px;
    background-color: azure;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 8px;
    display: inline-block;
    width: 220px;
    position: relative;
    height: auto;
    transition: transform 0.3s;
  }
  div.gallery img {
    width: 100%;
    height: auto;
  }
  div.gallery:hover{
    z-index: 1000;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: rotate(9deg) scale(1.5); 
    
  }
  div.desc {
    padding: 10px;
    text-align: center;
  }
/* Raiting star */
.fa-star{
  color:rgb(82, 81, 81);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.checked {
  color: orange;
}
